<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>教育原理で登場する主要な教育思想家一覧</title>
  <link rel="stylesheet" href="/kyouiku.css">
</head>
</head>
<body>
  <h2>教育原理で登場する主要な教育思想家一覧</h2>
  <table>
    <tr><th>教育思想家</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <!-- <tr><td><%= row.id %></td>
        <td><%= row.code %></td> -->
        <td><a href="/kyouiku/<%= number %>"><%= row.name %></a></td></tr>
         <% number += 1 %> 
      <% } %>
  </table>
  <a href="/kyouiku/create">新規登録</a>
  

</body>
</html>