
body {
    background-color: #f0f0f0;
    font-family: sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* 長文対策 */
}
td {
    border: 1px solid #999;
    padding: 8px;
    word-wrap: break-word; /* 枠内で改行 */
}